﻿<div class="jumbotron">
    <h1>CTT224 – Thương mại điện tử</h1>
    <p class="lead">
        Bài tập thực hành trên tài liệu về ASP.NET API hỗ
        trợ việc lập trình các RESTful API bằng ASP.NET.<br />
        Vui lòng đăng nhập bằng tài khoản và mật khẩu có sẵn 1212431/1212431 vào trang Access Token Manager để lấy access token
    </p>
</div>
<div class="row">

</div>
