﻿@model string
@{
    ViewBag.Title = "Access Token Manager";
    string message = ViewBag.Message;
}


<h1 class="text-center">TẠO ACCESS TOKEN</h1>

@if (!String.IsNullOrEmpty(message))
{
    <p class="text-center text-info">@message</p>
}
<div class="row">
    <div class="col-lg-12 text-center">

        <form class="form-inline" method="post">
            <div class="form-group">
                <label for="Username">Username</label>
                <input name="Username" type="text" class="form-control" id="Username">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input name="Password" type="password" class="form-control" id="Password">
            </div>
            <br />
            <button type="submit" class="btn btn-default" id="btnGet">Get Token</button>
        </form>
        @if (!String.IsNullOrEmpty(Model))
        {

            <div class="form-group text-center" style="margin:20px;">
                <div class="col-md-6">
                    <label for="token" class="form-control col-md-3">Access token</label>
                </div>
                <div class="col-md-6">
                    <textarea name="token" class="form-control" id="token">@Model</textarea>
                </div>

            </div>
        }
    </div>
</div>



