﻿@model MVCWebAPIClient1212431.Models.Result

@{
    ViewBag.Title = "Xóa User";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">1212431</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/ViewAllUsers">Xem Danh Sách User</a>
                    </li>
                    <li>
                        <a href="/Home/ViewUser">Xem Chi Tiết User</a>
                    </li>
                    <li>
                        <a href="/Home/AddUser">Thêm User</a>
                    </li>
                    <li>
                        <a href="/Home/EditUser">Sửa User</a>
                    </li>
                    <li>
                        <a href="/Home/DeleteUser">Xóa User</a>
                    </li>
                    <li>
                        <a href="/Home/ViewProductByCategory">Xem Sản Phẩm</a>
                    </li>
                    <li>
                        <a href="/Home/ViewProductByCategoryAndUser">Xem Sản Phẩm Theo User</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>XÓA USER</h1>
                @if (Model != null)
                {
                    <p class="text-center text-info">Xóa @((Model.Status == "Ok") ? "Thành Công" : "Thất Bại")</p>
                }
                <form class="form-inline" method="post">
                    <div class="form-group">
                        <label for="hostName">Hostname</label>
                        <input name="hostName" type="text" class="form-control" id="hostName" placeholder="http://localhost:5717/">
                    </div>
                    <div class="form-group">
                        <label for="apiLink">API Link</label>
                        <input name="apiLink" type="text" class="form-control" id="apiLink" value="/api/2.0/users/admin">
                    </div>
                    <div class="form-group">
                        <label for="token">Token</label>
                        <input name="token" type="text" class="form-control" id="token">
                    </div>
                    <button type="submit" class="btn btn-default" id="btnGet">Delete</button>
                </form>
                <br>


            </div>
        </div>
        <!-- /.row -->
        <div class="navbar navbar-fixed-bottom text-center"><h1>1212431 - Nguyễn Nguyên Trà</h1></div>

    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="~/Content/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/js/bootstrap.min.js"></script>

</body>

</html>